[Unit]
Description=Compress-Encrypt-Upload daemon

[Service]
ExecStart=/usr/bin/bash -c 'sleep 900 && compress && encrypt && upload'

# ExecStart=/usr/bin/bash -c 'sleep 900 && compress-and-encrypt && upload'